<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="../../images/heros/garphon.png">
</head>

<body>
    <a href="#mainSkip" class="skip-link">Content Next</a>

    <header class="header">
        <div class="header__inner">
            <img class="idmg" src="../../images/heros/garphon.png" alt="">
            <div id="home" class="half-circle">
                <h1 class="header__title">
                    InsResto
                </h1>
            </div>
        </div>
    </header>

    <button id="menu" href="#" class="header__menu">☰</button>

    <div class="niv">
        <nav id="drawer" class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="#/home"><b>Home</b></a></li>
                <li class="nav__item"><a href="#/favorite"><b>Favorite</b></a></li>
                <li class="nav__item"><a href="/about.js"><b>About Us</b></a></li>
            </ul>
        </nav>
    </div>

    <div class="hero">
        <div class="hero__inner">
            <h1 class="hero__title">&#127775; Selamat Datang &#127775;</h1>
            <p class="hero__tagline">Terima Kasih Sudah Berkunjung, Silahkan dilihat</p>
        </div>
    </div>

    <main id="mainContent">
        <div id="mainSkip">
            <section class="conten">
                <div id="resto" class="posts">
                    <!--  data json -->

                </div>
        </div>
        </section>
        </div>


    </main>

    <footer>
        <p>Copyright &#169; 2020 - Inspirasi Resto App</p>
    </footer>
</body>

</html>